:root {
  --half-orc: #966e3b;
  --main-text: #d7c39a;
  --secondary-text: #646059;
  --button-color: #837361;
  --black: #131313;
  --almost-back: #2d251a;
  --white: #ffffff;

  --title-size: 1.6rem;
  --content-size: 1.2rem;

  /* genres id colors */

  --action: radial-gradient(
    circle,
    #9d0208,
    #ad0f08,
    #bc1b07,
    #cc2505,
    #dc2f02
  );
  --adventure: radial-gradient(
    circle,
    #006400,
    #006b00,
    #007200,
    #007900,
    #008000
  );
  --animation: radial-gradient(
    circle,
    #431259,
    #4b1965,
    #522172,
    #59287f,
    #60308c
  );
  --comedy: radial-gradient(
    circle,
    #ff7b00,
    #ff8500,
    #ff8f00,
    #ff9900,
    #ffa200
  );
  --crime: radial-gradient(circle, #461220, #601b2b, #7a2535, #962f3f, #b23a48);
  --documentary: radial-gradient(
    circle,
    #003459,
    #03416a,
    #074f7b,
    #0b5d8d,
    #0d6b9f
  );
  --drama: radial-gradient(circle, #c9184a, #d7365b, #e54d6c, #f2617d, #ff758f);
  --family: radial-gradient(
    circle,
    #4361ee,
    #0082fb,
    #009dfd,
    #00b4f8,
    #4cc9f0
  );
  --fantasy: radial-gradient(
    circle,
    #139271,
    #4fa564,
    #84b654,
    #bec346,
    #fcca46
  );
  --history: radial-gradient(
    circle,
    #3e3d3c,
    #4b4a49,
    #595857,
    #676665,
    #757574
  );
  --horror: radial-gradient(
    circle,
    #220901,
    #3b1108,
    #58150c,
    #75180e,
    #941b0c
  );
  --music: radial-gradient(circle, #eeaf61, #f29b5c, #f4875d, #f37263, #ee5d6c);
  --mystery: radial-gradient(
    circle,
    #7209b7,
    #a200ac,
    #c6009f,
    #e10092,
    #f72585
  );
  --romance: radial-gradient(
    circle,
    #ffb4a2,
    #f9ada0,
    #f3a69e,
    #ec9f9d,
    #e5989b
  );
  --science-fiction: radial-gradient(
    circle,
    #55a630,
    #69b02a,
    #7eba21,
    #94c315,
    #aacc00
  );
  --tv-movie: radial-gradient(
    circle,
    #6c757d,
    #636c73,
    #5a626a,
    #525960,
    #495057
  );
  --thriller: radial-gradient(
    circle,
    #140152,
    #160165,
    #16007a,
    #14008e,
    #0d00a4
  );
  --war: radial-gradient(circle, #9a0101, #8c1128, #73263b, #573242, #3b383a);
  --western: radial-gradient(
    circle,
    #99704f,
    #a87f5e,
    #b88f6d,
    #c89f7d,
    #d8af8d
  );
  --action-adventure: radial-gradient(
    circle,
    #d00000,
    #d62800,
    #dc3d00,
    #e24e00,
    #e85d04
  );
  --kids: radial-gradient(circle, #52b69a, #47b19e, #3eaba1, #38a6a3, #34a0a4);
  --news: radial-gradient(circle, #605f5e, #636558, #526f60, #31787c, #247ba0);
  --reality: radial-gradient(
    circle,
    #9e0059,
    #940066,
    #830076,
    #690087,
    #390099
  );
  --sci-fi: radial-gradient(
    circle,
    #548c2f,
    #699531,
    #7f9e33,
    #94a737,
    #aab03c
  );
  --soap: radial-gradient(circle, #8c07dd, #9110de, #9616e0, #9a1ce1, #9f21e3);
  --talk: radial-gradient(circle, #017260, #006a66, #006268, #005968, #065064);
  --war-politics: radial-gradient(
    circle,
    #9a0101,
    #8c1128,
    #73263b,
    #573242,
    #3b383a
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  background-image: linear-gradient(
    to right,
    var(--black) 0%,
    var(--almost-back) 100%
  );
  color: var(--main-text);
  font-size: 1.6rem;
  margin: 0 auto 6rem;
  max-width: 500px;
}

/* header */

.header-title {
  text-align: center;
  padding: 12px;
}

/* navbar */

.navbar {
  display: flex;
  min-width: 360px;
  max-width: 500px;
  width: 100%;
  height: 60px;
  background: var(--almost-back);
  justify-content: space-around;
  font-size: 1.2rem;
  position: fixed;
  bottom: -2px;
  z-index: 2;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: var(--main-text);
}

.nav-item i {
  font-size: 1.8rem;
}

/* SHARED */

.tv-container,
.movie-container,
.network-container,
.generic-container,
.catalogue-container,
.item-related-img,
.nav-item {
  cursor: pointer;
}

.tv-container--loading,
.movie-container--loading,
.network-container--loading,
.people-container--loading,
.generic-container--loading,
.category-container--loading,
.catalogue-container--loading {
  background-color: var(--secondary-text);
  border-radius: 4px;
  margin-bottom: 4px;
  animation: loading-skeleton infinite 1.5s;
}

.favorites-container--loading {
  background-color: var(--secondary-text);
  width: 100px;
  height: 150px;
  border-radius: 50%;
  animation: loading-skeleton infinite 1.5s;
}

.tv-container--loading,
.movie-container--loading {
  height: 225px;
  width: 150px;
}

.network-container--loading {
  width: 76px;
  height: 76px;
}

.people-container--loading {
  width: 76px;
  height: 108px;
}

.generic-container--loading {
  height: 140px;
  width: 93.3px;
}

.category-container--loading {
  width: 92px;
  height: 54px;
}

.catalogue-container--loading {
  height: 152px;
  width: 100px;
}

.tv-container--loading:nth-child(2),
.movie-container--loading:nth-child(2),
.network-container--loading:nth-child(2)
  .people-container--loading:nth-child(2),
.generic-container--loading:nth-child(2),
.category-container--loading:nth-child(2),
.catalogue-container--loading:nth-child(2) {
  animation-delay: 0.2s;
}

.tv-container--loading:nth-child(3),
.movie-container--loading:nth-child(3),
.network-container--loading:nth-child(3)
  .people-container--loading:nth-child(3),
.generic-container--loading:nth-child(3),
.category-container--loading:nth-child(3),
.catalogue-container--loading:nth-child(3) {
  animation-delay: 0.4s;
}

/* List Section */

.list-container {
  padding: 16px;
}

.list-title {
  font-size: var(--title-size);
  margin-bottom: 8px;
}

.item-img {
  width: 150px;
  height: 225px;
  border-radius: 4px;
}

.tv-container,
.movie-container,
.favorites-container__section,
.item-related-container {
  position: relative;
}

.tv-container:hover .like-btn,
.movie-container:hover .like-btn,
.generic-container:hover .like-btn,
.favorites-container:hover .delete-favorite,
.catalogue-container:hover .like-btn,
.favorites-container__section:hover .like-btn,
.item-related-container:hover .like-btn {
  opacity: 1;
}

.item-number {
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(19, 19, 19, 0.6);
  color: var(--main-text);
  font-size: 2rem;
  width: 32px;
  height: 32px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 4px;
}

/* scrolling List */

.trendingMovies-List,
.trendingTv-List,
.favorites-List,
.people-List,
.genres-list,
.generic-List,
.related-scrollContainer {
  display: flex;
  gap: 12px;
  overflow: scroll;
  overflow-y: hidden;
  padding-bottom: 12px;
}

/* FAVORITES */

.like-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  color: red;
  font-size: 2rem;
  background: rgba(19, 19, 19, 0.6);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 4px;
  border: none;
  opacity: 0;
  transition: opacity 0.35 ease;
  cursor: pointer;
}

.delete-favorite {
  color: var(--half-orc);
}

.favorite-title {
  text-align: center;
  margin: 20px 0;
  font-size: 4rem;
}

.catalogue-favorite {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-left: 22px;
  justify-content: center;
}

.favorites-empty-container {
  width: 100%;
  padding: 28px 0;
  text-align: center;
}

.favorites-container {
  width: 100px;
  height: 150px;
  cursor: pointer;
  position: relative;
}

.favorites-container .favorite-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.favorite-img__section {
  width: 120px;
  height: 180px;
}

.network-container {
  background: var(--almost-back);
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.network-img {
  width: 76px;
  height: auto;
  padding: 10px;
  filter: brightness(0) invert(1);
}

/* People */

.people-container {
  position: relative;
  width: 76px;
  height: 108px;
}

.people-container::after {
  display: block;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 66%,
    rgba(0, 0, 0, 0.9) 100%
  );
  margin-top: -155px;
  height: 150px;
  width: 100%;
  content: "";
}

.people-img {
  width: 68px;
  height: 101px;
  border-radius: 4px;
}

.people-name {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
  bottom: calc(8%);
  font-size: 1rem;
  color: var(--white);
}

/* GENRES */

#genres {
  height: 115px;
  margin-bottom: 12px;
}

.genres-movie,
.genres-tv {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 1.2rem;
}

.notCurrent-genre__button {
  color: var(--secondary-text);
  font-weight: 600;
}

.genres-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.genre-title {
  font-size: var(--title-size);
}

.genres-title .genres-tv {
  margin-left: 16px;
  margin-right: 8px;
}

.category-title {
  background: var(--idColor);
  color: var(--white);
  height: 54px;
  width: 92px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

#id28 {
  --idColor: var(--action);
}
#id12 {
  --idColor: var(--adventure);
}
#id16 {
  --idColor: var(--animation);
}
#id35 {
  --idColor: var(--comedy);
}
#id80 {
  --idColor: var(--crime);
}
#id99 {
  --idColor: var(--documentary);
}
#id18 {
  --idColor: var(--drama);
}
#id10751 {
  --idColor: var(--family);
}
#id14 {
  --idColor: var(--fantasy);
}
#id36 {
  --idColor: var(--history);
}
#id27 {
  --idColor: var(--horror);
}
#id10402 {
  --idColor: var(--music);
}
#id9648 {
  --idColor: var(--mystery);
}
#id10749 {
  --idColor: var(--romance);
}
#id878 {
  --idColor: var(--science-fiction);
}
#id10770 {
  --idColor: var(--tv-movie);
}
#id53 {
  --idColor: var(--thriller);
}
#id10752 {
  --idColor: var(--war);
}
#id37 {
  --idColor: var(--western);
}
#id10759 {
  --idColor: var(--action-adventure);
}
#id10762 {
  --idColor: var(--kids);
}
#id10763 {
  --idColor: var(--news);
}
#id10764 {
  --idColor: var(--reality);
}
#id10765 {
  --idColor: var(--sci-fi);
}
#id10766 {
  --idColor: var(--soap);
}
#id10767 {
  --idColor: var(--talk);
}
#id10768 {
  --idColor: var(--war-politics);
}

/* Generic list */

.generic-img {
  height: 140px;
  width: 94px;
}

.generic-container,
.item-container {
  position: relative;
}

/* Detail section */

.header-arrow {
  position: fixed;
  color: white;
  margin-left: 16px;
  top: 24px;
  z-index: 1;
  background: black;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  text-align: center;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.21);
}

.detail-img {
  height: 33vh;
  width: 100%;
  position: relative;
}

.show-Portrait::after {
  display: block;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 44%,
    rgba(0, 0, 0, 0.9) 100%
  );
  margin-top: -154px;
  height: 150px;
  width: 100%;
  content: "";
  border-bottom: 1px solid var(--secondary-text);
}

.show-Portrait__info {
  padding: 16px;
  position: absolute;
  top: calc(24%);
}

.show-Detail-title {
  font-size: 1.8rem;
}

.released-date {
  font-size: var(--content-size);
  color: var(--main-text);
}

.show-Description {
  padding: 16px;
  border-bottom: 1px solid var(--secondary-text);
}

.show-Genre {
  color: var(--button-color);
  font-size: var(--content-size);
}

.show-Detail-description {
  color: var(--main-text);
  font-size: var(--content-size);
  margin-top: 8px;
}

.show-data {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--secondary-text);
  align-items: center;
}

.show-info {
  padding: 16px;
  border-top: 1px solid var(--secondary-text);
  border-bottom: 1px solid var(--secondary-text);
}

.show-info div {
  font-size: var(--content-size);
  color: var(--main-text);
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.show-info h5 {
  color: var(--half-orc);
}

.show-info div:nth-child(4) {
  margin-bottom: 0;
}

.show-genres {
  padding: 8px 16px;
  display: flex;
  gap: 12px;
  overflow: scroll;
  overflow-y: hidden;
}

.show-genres-main .list-title {
  padding: 16px 0 0 16px;
}

.show-network-logo {
  filter: brightness(0) invert(1);
  width: 64px;
}

.show-category {
  height: 40px;
}

.related-container .recommendations {
  padding: 0 16px;
}

.related-container h5 {
  margin-bottom: 8px;
}

.item-related-img {
  height: 140px;
}

.next-container {
  border-top: 1px solid var(--secondary-text);
  margin-top: 16px;
  padding: 16px;
}

.recommendations {
  margin-top: 8px;
}

/* GENRES SECTION CATALOGUE */

.catalogue-title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--idColor);
  color: var(--white);
}

.catalogue__List {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 22px;
  justify-content: center;
}

.catalogue-img {
  height: 152px;
  width: 100px;
}

/* Search Section */

.search-title {
  padding: 24px 0 0 16px;
  margin: 0;
}

/* From uiverse.io by @alexruix */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 280px;
  margin: auto;
}

.input {
  width: 100%;
  height: 32px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 3.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--secondary-text);
  color: var(--white);
  transition: 0.3s ease;
}

.input::placeholder {
  color: var(--white);
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1.6rem;
  height: 1.6rem;
}

.catalogue-container {
  position: relative;
  /* width: 76px;
  height: 108px; */
}

.catalogue-container__gradient::after {
  display: block;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 66%,
    rgba(0, 0, 0, 0.9) 100%
  );
  margin-top: -155px;
  height: 150px;
  width: 100%;
  content: "";
}

/* Trends Section */

.trending-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 52px;
}

.trend-item {
  background-color: #005968;
  width: 152px;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Misc */

.inactive {
  display: none;
}

.currentNav {
  color: var(--white);
}

/* MISSING DATA */

.missing-data {
  filter: contrast(0.1);
}

.altShowDescription {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: calc(30%);
  cursor: pointer;
}

/* ABOUT SECTION */

#about-section {
  padding: 40% 24px;
  height: 88vh;
  align-items: center;
  line-height: 1.6;
}

#about-section a {
  color: var(--white);
  text-decoration: none;
}

/* ANIMATIONS */

@keyframes loading-skeleton {
  0%,
  100% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
